In [4]:
#Ans 1)
#while loop always verify and check wheather the condition is true or not and hence it will only work when the condition is true

#for loop donot verify and check the condition It simply excute whether the condition is true or false
#example:

In [5]:
#for loop
i = [12,34,5,4523,23,45]
for l in i:
    print (l)

12
34
5
4523
23
45

In [6]:
#while loop 
l = 1
while l<= 10:
    print(l)
    l +=1

1
2
3
4
5
6
7
8
9
10

In [7]:
#Ans 2)
#sum of natural number in for loop
l = [1,2,3,4,5,6,7,8,9,10]
r = 0
for i in l :
    r = r+i
print(r)

55

In [8]:
#product of natural number in for loop
l = [1,2,3,4,5,6,7,8,9,10]
r = 1
for i in l:
    r = r*i
print (r)

3628800

In [9]:
#sum of first ten natural number in while loop
i = 1
r = 0
while i <= 10:
    r = r+i
    i+=1
r

55

In [12]:
#product of first ten natural numbers in while loop
i = 1
r = 1
while i <= 10:
    r = r*i
    i+=1
r

3628800

In [14]:
#Ans 3)
# Computing electricity bill for house hold
unit_consumed = int(input('enter the unit consumed'))
if unit_consumed <= 100:
    bill = unit_consumed * 4.5
elif unit_consumed <= 200:
    bill = (100*4.5)+((unit_consumed - 100)*6)
elif unit_consumed <= 300:
    bill = (100*4.5)+(100*6)+((unit_consumed - 200)*10)
else:
    bill = (100*4.5)+(100*6)+(100*10)+((unit_consumed - 300)*20)
print("your final bill is : Rs.",bill)

enter the unit consumed 310

your final bill is : Rs. 2250.0

In [2]:
#Ans 4)
#for loop
number = []
result = []
for i in range(1,101):
    cube = i**3
    if cube%4 == 0 or cube%5 == 0:  
        result.append(i)
    number.append(cube)
print ("List of number whose cube are divisible by 4 or 5:", result)
print ("List of cubes:", number)

List of number whose cube are divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]
List of cubes: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [1]:
#while loop
number = []
result = []
i =1
while i <= 100:
    cube= i**3
    if cube%4 == 0 or cube%5 == 0:
          result.append(i)
    i += 1
    number.append(cube)
          
    
print ("List of number whose cube are divisible by 4 or 5:", result)
print ("List of cubes:", number)

List of number whose cube are divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]
List of cubes: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [50]:
#Ans 5)
string = "i want to become a data scientist"
vowel = "aeiou"
count = 0
for char in string:
    if char in vowel:
        count = count + 1
        
print("no. of vowel:", count)

no. of vowel: 12